DerivedDataCache
Intermediate
Saved
Build/*
DerivedDataCache/*
Content/MixedVFX
Content/StarterContent
Content/SwordTrailVFX
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace